In [1]:
import requests
import pandas as pd

# URL of the file
url = "https://data.humdata.org/dataset/dc663585-4b6f-46ae-a6d6-b2f3e4ea32b5/resource/3b1ff071-6b01-4998-aa62-2f3efb5d4888/download/wfp_food_prices_ind.csv"

# Send a GET request to the URL
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Write the content to a local file
    with open('wfp_food_prices_ind.csv', 'wb') as file:
        file.write(response.content)
    
    # Load the CSV file into a pandas DataFrame
    df = pd.read_csv('wfp_food_prices_ind.csv')
    
    # Display the first few rows of the DataFrame
    print(df.head())
else:
    print(f"Failed to download file. Status code: {response.status_code}")

         date      admin1      admin2            market   latitude  longitude  \
0       #date  #adm1+name  #adm2+name  #loc+market+name   #geo+lat   #geo+lon
1  1994-01-15       Delhi       Delhi             Delhi  28.666667  77.216667
2  1994-01-15       Delhi       Delhi             Delhi  28.666667  77.216667
3  1994-01-15       Delhi       Delhi             Delhi  28.666667  77.216667
4  1994-01-15       Delhi       Delhi             Delhi  28.666667  77.216667

             category      commodity        unit         priceflag  \
0          #item+type     #item+name  #item+unit  #item+price+flag
1  cereals and tubers           Rice          KG            actual
2  cereals and tubers          Wheat          KG            actual
3  miscellaneous food          Sugar          KG            actual
4        oil and fats  Oil (mustard)          KG            actual

          pricetype   currency   price    usdprice
0  #item+price+type  #currency  #value  #value+usd
1            Retail        INR     8.0       0.255
2            Retail        INR     5.0      0.1594
3            Retail        INR    13.5      0.4303
4            Retail        INR    31.0       0.988

C:\Users\kshit\AppData\Local\Temp\ipykernel_34772\1953521023.py:17: DtypeWarning: Columns (4,5,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('wfp_food_prices_ind.csv')

In [2]:
df.head()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd
1,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Rice,KG,actual,Retail,INR,8.0,0.255
2,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Wheat,KG,actual,Retail,INR,5.0,0.1594
3,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,miscellaneous food,Sugar,KG,actual,Retail,INR,13.5,0.4303
4,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,oil and fats,Oil (mustard),KG,actual,Retail,INR,31.0,0.988